.title{text-align: center;}
#dropzone{
    width: 100%;
    height: 250px;
    border: 2px solid green;
    text-align: center;
    line-height: 250px;
    margin-bottom: 20px;
    cursor: pointer; }
th, td {width: 30%;}
.pointer {
    cursor: pointer;
}