{% extends 'base.html' %}
{% block content %}
    <div class="container-fluid">
        <div class="card">
            <div class="card-header">
                <div class="card-title"><h3>Make Video</h3></div>
            </div>
            <div class="card-body">
                <form action="{% url 'create-video' %}" method="post" enctype="multipart/form-data">
                    <div class="form-group">
                        <label for="i-title"><b>Tên Video</b></label>
                        <input type="text" name="i-title" id="i-title" placeholder="" class="form-control">
                    </div>
                    {% csrf_token %}
                    <div class="row">
                        <div class="col-md-6">
                            <div class="form-group">
                                <label for="t-text"><b>Văn bản</b></label>
                                <div class="form-group">
                                    <textarea name="t-text" id="t-text" cols="100" rows="10" class="form-control"
                                              style="max-height: 300px"></textarea>
                                </div>
                            </div>
                            <div class="form-group">
                                <label for="block-voice"><b>Chọn giọng đọc</b></label>
                                <div id="s-voice">
                                    <select name="s-voice" id="s-voice" class="form-control">
                                        <option value="hn-quynhanh">[HN] Quỳnh Anh</option>
                                        <option value="doanngocle">Đoàn Ngọc Lê (Miền Bắc)</option>
                                        <option value="trinhthiviettrinh">Trịch Thị Việt Trinh (Miền Bắc)</option>
                                        <option value="phamtienquan">Phạm Tiến Quân (Miền Bắc)</option>
                                        <option value="lethiyen">Lê Thị Yến (Miền Nam)</option>
                                        <option value="nguyenthithuyduyen">Nguyễn Thị Duyên (Miền Nam)</option>
                                        <option value="hue-maingoc">Mai Ngọc (Miền Trung)</option>
                                        <option value="hue-baoquoc">Bảo Quốc (Miền Trung)</option>
                                        <option value="hcm-minhquan">[HCM] Minh Quân</option>
                                    </select>
                                </div>
                            </div>
                            <div class="b-in-out p-l-15" style="margin-top: 10px">
                                <div class="row">
                                    <div class="col-md-6">
                                        <div class="b-intro">
                                            <label for="i-speed"><b>Tốc độ đọc</b></label>
                                            <select name="i-speed" id="i-speed" class="form-control">
                                                <option value="0.7">-2</option>
                                                <option value="0.8">-1</option>
                                                <option value="0.9" selected>0</option>
                                                <option value="1.0">1</option>
                                                <option value="1.1">2</option>
                                                <option value="1.2">3</option>
                                            </select>
                                        </div>
                                    </div>
                                    <div class="col-md-6">
                                        <div class="b-outro">
                                            <label for="i-type"><b>Dạng Audio</b></label>
                                            <select name="i-type" id="i-type" class="form-control">
                                                <option value="2">MP3</option>
                                                <option value="3">WAV</option>
                                            </select>
                                        </div>
                                    </div>
                                </div>
                            </div>

                        </div>
                        <div class="col-md-6">
                            <div class="b-upload-image">
                                <fieldset class="field-set">
                                    <legend class="text-uppercase">Cài Đặt:</legend>
                                    <ul class="nav nav-tabs" id="myTab" role="tablist">
                                        <li class="nav-item">
                                            <a class="nav-link active text-uppercase" id="home-tab" data-toggle="tab"
                                               href="#video"
                                               role="tab" aria-controls="home" aria-selected="true">Cấu hình video</a>
                                        </li>
                                        <li class="nav-item">
                                            <a class="nav-link text-uppercase" id="contact-tab" data-toggle="tab"
                                               href="#youtube"
                                               role="tab" aria-controls="contact" aria-selected="false">Upload
                                                youtube</a>
                                        </li>
                                        <li class="nav-item">
                                            <a class="nav-link text-uppercase" id="profile-tab" data-toggle="tab"
                                               href="#khac"
                                               role="tab" aria-controls="profile" aria-selected="false">Khác</a>
                                        </li>
                                    </ul>
                                    <div class="tab-content" id="myTabContent">
                                        <div class="tab-pane fade show active" id="video" role="tabpanel"
                                             aria-labelledby="home-tab">
                                            <div class="form-group">
                                                <label for="t-images"><b>Hình ảnh</b></label><br>
                                                <span class="text-info note"><i>Vui lòng nhập mỗi link ảnh một dòng</i></span>
                                                <input type="text" class="form-control"
                                                       data-role="tagsinput"
                                                       name="i-images"
                                                       value=""
                                                >
                                            </div>
                                            <div class="b-subtitles" style="margin-top: 10px">
                                                <div class="row">
                                                    <div class="col-md-6">
                                                        <label for="i-bg-m"><b>Thêm nhạc nền</b></label>
                                                        <input type="file" class="form-control" id="i-bg-m"
                                                               name="i-bg-music">
                                                    </div>
                                                    <div class="col-md-6">
                                                        <div class="form-group">
                                                            <label for="formControlRange"><b>Volume</b></label>
                                                            <input type="range" min="0" max="5" class="form-control-range"
                                                                   id="formControlRange"
                                                                   name="i-volume">
                                                        </div>
                                                    </div>
                                                </div>

                                            </div>

                                            <div class="b-in-out p-l-15" style="margin-top: 10px">
                                                <div class="row">
                                                    <div class="col-md-6">
                                                        <div class="b-intro">
                                                            <label for="i-intro"><b>Thêm intro</b></label>
                                                            <input type="file" id="i-intro" class="form-control"
                                                                   name="i-intro">
                                                        </div>
                                                    </div>
                                                    <div class="col-md-6">
                                                        <div class="b-outro">
                                                            <label for="i-outro"><b>Thêm outro</b></label>
                                                            <input type="file" id="i-outro" class="form-control"
                                                                   name="i-outro">
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>

                                            <div class="form-group">
                                                <label for="t-run"><b>Nhập chữ chạy</b></label>
                                                <div class="form-group">
                                                        <textarea name="t-run" id="t-run" cols="10" rows="10"
                                                                  class="form-control"></textarea>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="tab-pane fade" id="youtube" role="tabpanel"
                                             aria-labelledby="profile-tab">
                                        </div>
                                        <div class="tab-pane fade" id="khac" role="tabpanel"
                                             aria-labelledby="contact-tab">

                                            <div class="form-group">
                                                <label for="t-run"><b>Nhập chữ chạy</b></label>
                                                <div class="form-group">
                                                        <textarea name="t-run" id="t-run" cols="10" rows="10"
                                                                  class="form-control"></textarea>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </fieldset>
                            </div>
                        </div>
                    </div>
                    <div class="b-bottom" style="margin-top: 10px">
                        <button type="submit" name="submit" value="audio" class="btn - btn-default">Tạo Audio</button>
                        <button type="submit" name="submit" value="video" class="btn - btn-primary">Tạo video</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
{% endblock content %}