{% extends 'base.html' %}
{% block content %}
    <div class="container-fluid">
        <div class="card">
            <div class="card-header">
                <div class="card-title"><h3>Make Video</h3></div>
            </div>
            <div class="card-body">
                <form action="{% url 'create-video' %}" method="post" enctype="multipart/form-data">
                    <label for="i-title"><b>Tên Video</b></label>
                    <input type="text" name="i-title" id="i-title" placeholder="" class="form-control">
                    {% csrf_token %}
                    <div class="row">
                        <div class="col-md-6">
                            <div class="form-group">
                                <label for="t-text"><b>Văn bản</b></label>
                                <div class="form-group">
                                    <textarea name="t-text" id="t-text" cols="100" rows="10" class="form-control"
                                              style="max-height: 300px"></textarea>
                                </div>
                            </div>
                            <div class="form-group">
                                <label for="block-voice"><b>Chọn giọng đọc</b></label>
                                <div id="s-voice">
                                    <select name="s-voice" id="s-voice" class="form-control">
                                        <option value="hn-quynhanh">[HN] Quỳnh Anh</option>
                                        <option value="doanngocle">Đoàn Ngọc Lê (Miền Bắc)</option>
                                        <option value="trinhthiviettrinh">Trịch Thị Việt Trinh (Miền Bắc)</option>
                                        <option value="phamtienquan">Phạm Tiến Quân (Miền Bắc)</option>
                                        <option value="phamtienquan">Lê Thị Yến (Miền Nam)</option>
                                        <option value="nguyenthithuyduyen">Nguyễn Thị Duyên (Miền Nam)</option>
                                        <option value="hue-maingoc">Mai Ngọc (Miền Trung)</option>
                                        <option value="hue-baoquoc">Bảo Quốc (Miền Trung)</option>
                                        <option value="hcm-minhquan">[HCM] Minh Quân</option>
                                    </select>
                                </div>
                            </div>
                            <div class="b-in-out p-l-15" style="margin-top: 10px">
                                <div class="row">
                                    <div class="col-md-6">
                                        <div class="b-intro">
                                            <label for="i-speed"><b>Tốc độ đọc</b></label>
                                            <select name="i-speed" id="i-speed" class="form-control">
                                                <option value="0.7">-3</option>
                                                <option value="0.8">-2</option>
                                                <option value="0.9">-1</option>
                                                <option value="1" selected>0</option>
                                                <option value="1.1">1</option>
                                                <option value="1.2">2</option>
                                                <option value="1.3">3</option>
                                            </select>
                                        </div>
                                    </div>
                                    <div class="col-md-6">
                                        <div class="b-outro">
                                            <label for="i-type"><b>Dạng Audio</b></label>
                                            <select name="i-type" id="i-type" class="form-control">
                                                <option value="2">MP3</option>
                                                <option value="3">WAV</option>
                                            </select>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="b-subtitles" style="margin-top: 10px">
                                <label for="i-bg-m"><b>Thêm nhạc nền</b></label>
                                <input type="file" class="form-control" id="i-bg-m" name="i-bg-music">
                            </div>
                            <div class="b-in-out p-l-15" style="margin-top: 10px">
                                <div class="row">
                                    <div class="col-md-6">
                                        <div class="b-intro">
                                            <label for="i-intro"><b>Thêm intro</b></label>
                                            <input type="file" id="i-intro" class="form-control" name="i-intro">
                                        </div>
                                    </div>
                                    <div class="col-md-6">
                                        <div class="b-outro">
                                            <label for="i-outro"><b>Thêm outro</b></label>
                                            <input type="file" id="i-outro" class="form-control" name="i-outro">
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="form-group">
                                <label for="t-run"><b>Nhập chữ chạy</b></label>
                                <div class="form-group">
                                    <textarea name="t-run" id="t-run" cols="10" rows="10"
                                              class="form-control"></textarea>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="b-upload-image">
                                <input type="file" id="images" name="images" class="form-control" multiple/>
                                <div class="form-group">
                                    <label for="fileupload"><b>Hình ảnh</b></label>
                                    <div id="fileupload">
                                        <div id="dropzone">Kéo ảnh hoặc <u class="text-danger pointer">chọn ảnh</u> từ
                                            thư mục vào đây!
                                        <input type="file" id="images" name="images[]" class="form-control" multiple/>
                                        </div>
                                    </div>
                                </div>
                                <table id="fileTable" style="display: none;">
                                    <thead>
                                    <tr>
                                        <th>File Name</th>
                                        <th>Preview</th>
                                        <th>Size</th>
                                        <th>&nbsp</th>
                                    </tr>
                                    </thead>
                                    <tbody id="fileList">

                                    </tbody>
                                    <tfoot>
                                    <tr>
                                        <td id="result"></td>
                                        <td>&nbsp</td>
                                        <td>&nbsp</td>
                                    </tr>
                                    </tfoot>
                                </table>
                            </div>
                        </div>
                    </div>
                    <div class="b-bottom" style="margin-top: 10px">
                        <button type="submit" name="submit" value="audio" class="btn - btn-default">Tạo Audio</button>
                        <button type="submit" name="submit" value="video" class="btn - btn-primary">Tạo video</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
{% endblock content %}